.post-list {
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
  padding: 0 30px;
}
.post-list article {
  background: #fff;
  border: 1px solid #ddd;
  margin-top: 30px;
}

.post-list article header {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.user-infor {
  display: flex;
  flex-direction: column;
}
.user {
  display: flex;
  align-items: center;
}
.user img {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.user-infor span.place {
  font-size: 11px;
  color: #666;
  margin-top: 3px;
}
.post-list article header img {
  cursor: pointer;
}
.post-list article > img {
  width: 100%;
}
.post-list article footer p {
  font-size: 13px;
  margin-top: 2px;
  line-height: 18px;
}
.post-list article footer p span {
  color: #7159c1;
  display: block;
}

.pop-up {
  width: 100px;
  height: 40px;

  text-align: center;
  background-color: #ffffff;
  cursor: pointer;

  border: 1px solid #ddd;
  position: absolute;
  right: 532px;
}
.edit:hover {
  background-color: #ddd;
  color: #fff;
}
.post-list article .hide {
  display: none;
}
.post-list article .open {
  display: block;
}

.delete:hover {
  background-color: #ddd;
  color: #fff;
}
.pop-up .edit {
  border-bottom: 1px solid #ddd;
  align-items: center;
  height: 20px;
  color: #ed4956;
}
.pop-up .delete {
  height: 20px;
  align-items: center;
}

.actions button {
  background: transparent;
  border: none;
}
.actions img {
  height: 20px;
  margin: 10px;
  cursor: pointer;
}
footer strong {
  margin: 0 10px;
}
footer p {
  margin: 0 10px;
}
